.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  
  .slider-wrapper {
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    position: relative;
  }
  
  .image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }
  
  .image-wrapper {
    position: relative;
    width: 100%;
    flex-shrink: 0; /* Prevent images from shrinking */
  }
  
  .image-style {
    width: 100%;
    height: auto; /* 이미지를 비율에 맞춰 높이를 자동으로 설정 */
    max-height: 400px; /* 원하는 최대 높이를 설정 */
    object-fit: cover; /* 이미지의 비율을 유지하며 잘라내기 */
  }
  
  .text-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px; 
    color: #eeecec;
    background-color: transparent; 
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    width: auto;
    display: none; 
    line-height: 1.2; 
    font-size: 32px; 
  }
  
  .text-overlay.show {
    display: block; 
  }
  
  .indicator-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;
  }