.plant-detail-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #map {
    margin-bottom: 20px; /* 댓글란과 맵 사이의 간격 조정 */
  }
  
  .comments-section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
  }
  
  .comment-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .comment-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    resize: vertical; /* 세로 크기 조정 가능 */
  }
  
  .comment-form button {
    align-self: flex-end;
    background-color: #0F2C22;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .comment-form button:hover {
    background-color: #00332a;
  }
  
  .comments-list {
    margin-top: 10px;
  }
  
  .comment {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .comment:last-child {
    border-bottom: none;
  }
  
  .back-button {
    margin-top: 20px;
    background-color: #0F2C22;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #00332a;
  }